extends default

block content
  main(role="main")
    section(class="jumbotron text-center")
      div(class="container")
        h1 VIDEODROME
        p
          a(href="/browse" class="btn btn-primary my-2") Browse files
